name: Build Pico packages

on:
  push:
    branches: ["master"]
  workflow_dispatch:

jobs:
  miniboot:
    runs-on: ubuntu-latest
    container: skylyrac/blocksds:slim-latest
    name: Build miniboot
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          repository: 'lifehackerhansol/nds-miniboot'
          ref: picoboot
          submodules: true
      - name: Run build script
        run: |
          make -j`nproc`
      - name: Publish build to GH Actions
        uses: actions/upload-artifact@v5
        with:
          path: dist
          name: miniboot_dist

  pico_launcher:
    runs-on: ubuntu-latest
    container: skylyrac/blocksds:slim-v1.13.1
    name: Build Pico Launcher
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
        with:
          repository: 'LNH-team/pico-launcher'
          ref: v1.0.0
          submodules: true
      - name: Run build script
        run: |
          make -j`nproc`
      - name: Build file structure
        run: |
          mkdir out
          cp LAUNCHER.nds out/_picoboot.nds
          cp -r _pico out/
      - name: Publish build to GH Actions
        uses: actions/upload-artifact@v5
        with:
          path: out
          name: pico_launcher

  pico_package:
    strategy:
      matrix:
        platform:
          - name: "ACE3DS"
            pico_platform: ACE3DS
          - name: "AK2"
            pico_platform: AK2
          - name: "AKRPG"
            pico_platform: AKRPG
          - name: "DSPICO"
            pico_platform: DSPICO
          - name: "DSTT"
            pico_platform: DSTT
          - name: "EZP"
            pico_platform: EZP
          - name: "G003"
            pico_platform: G003
          - name: "GWBLUE"
            pico_platform: ACE3DS
          - name: "M3DS"
            pico_platform: M3DS
          - name: "R4"
            pico_platform: R4
          - name: "R4DSPRO"
            pico_platform: AK2
          - name: "R4iDSN"
            pico_platform: R4iDSN
          - name: "SUPERCARD"
            pico_platform: SUPERCARD
    runs-on: ubuntu-latest
    needs: [
      miniboot,
      pico_launcher
    ]
    env:
      BUILD_PLATFORM: ${{ matrix.platform.name }}
    name: Package zips
    steps:
      - name: Checkout repo
        uses: actions/checkout@v6
      - name: Download launcher
        uses: actions/download-artifact@v6
        with:
          name: pico_launcher
          path: pico_launcher
      - name: Download miniboot
        uses: actions/download-artifact@v6
        with:
          name: miniboot_dist
          path: miniboot
      - name: Download loader
        run: |
          curl -LO https://github.com/LNH-team/pico-loader/releases/download/v1.1.0/Pico_Loader_${{ matrix.platform.pico_platform }}.zip
          mkdir -p pico_loader/_pico
          cd pico_loader/_pico && unzip ../../Pico_Loader_${{ matrix.platform.pico_platform }}.zip
      - uses: actions/setup-python@v6
        with:
          python-version: '3.13' 
      - name: Package
        run: python3 packager.py
      - name: Publish build to GH Actions
        uses: actions/upload-artifact@v5
        with:
          path: out
          name: pico_package_${{ matrix.platform.name }}

  pico_deployment:
    runs-on: ubuntu-24.04
    needs: pico_package
    name: Deploy to host
    steps:
      - uses: actions/download-artifact@v6
        with:
          pattern: pico_package_*
          path: package
      - name: Re-zip packages because GitHub sucks
        run: |
          mkdir -p out/package
          MY_WD=$PWD
          for i in package/*; do
            cd $i
            zip -r $MY_WD/out/$i.zip *
            cd $MY_WD
          done
      - name: Publish
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.STORAGE_USER }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.STORAGE_KEY }}
          AWS_ENDPOINT_URL: ${{ secrets.STORAGE_HOST }}
        run: |
          aws s3 sync out/package/ s3://${{ secrets.STORAGE_BUCKET }}
